*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
 
.container{
    /* background-color:#E5E5FD; */
    min-height: 100vh;
    border: 12px solid #1D1E4C;
    background-image: url(peakpx\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.content{
    margin: 0 auto;
    max-width: 900px;
}
.image, img{
    width:200px;
    height: 250px;
}
.Top{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.image{
    border-radius: 30%;
    overflow: hidden;
    
}
.Top h1{
    font-size: 35px;
    
    font-weight: bold;
}
.Top h4{
    text-align: end;
    font-size: 25px;
 
}
.About h2 {
    font-size: 30px;
}
.About{
    margin-top: 50px;
    color: black;}
.About p {
    text-align: justify;
    line-height: 25px;
    font-weight: bold;
}
.Honours{
    margin-top: 50px;
    margin-bottom: 40px;
}
.Honours li{
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
}
footer{
    font-weight: bold;
    text-align: end;
    margin-bottom: 20px;
}